/*Main style sheet for layout and style elements the layout.html file is included into*/

@charset "utf-8";
/* CSS Document */

/* Large desktop */
@media (min-width: 1200px){
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px){
}

/* Landscape phones and down */
@media (max-width: 480px){
	#footer {
		margin-left: -30px;
		margin-right: -30px;
		padding-left: 30px;
		padding-right: 30px;	
	}
}

html {
	overflow-y: scroll;
}

.rndbox-heading{
	margin-bottom: 10px;
}

.rndbox-title{
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
http://ryanfait.com/sticky-footer/
*/

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -15px auto -70px;
}

#fadeframe{
	display: none; /*TEST*/
}

#footer, #push {
	height: 70px;
	
}

#footer{
	padding-top: 15px;
	background-color: #EAEAEA;
}

html, body {
	height: 100%;
}

.rndbox {
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 3px solid #284A5C;
	padding: 20px;
}

.check{
	background: url('/static/img/checkbox-PNG.png') no-repeat scroll 0 8px transparent;
	padding-left: 35px;
}

#front-logo{
	margin-right: -50px;
	margin-top: -20px;
}


.sessEven{
	border-top-color: #303030;
	border-top-style: solid;
	border-top-width: 1px;
	
	height: 100px;
}

.sessOdd{
	border-top-color: #303030;
	border-top-style: solid;
	border-top-width: 1px;
	
	height: 100px;
	
	background-color: #f7f7f7;
}

.sessEven:hover{
	border-left-color: #303030;
	border-left-style: solid;
	border-left-width: 8px;

	background-image: url('go_btn-PNG-b.png');
	background-repeat: no-repeat;
	background-position: 97% center;
}

.sessOdd:hover{
	border-left-color: #303030;
	border-left-style: solid;
	border-left-width: 8px;
	
	background-image: url('go_btn-PNG-b.png'); 
	background-repeat: no-repeat;
	background-position: 97% center;
	
	background-color: #f7f7f7;
}


.info{
	position: relative;
}

.info .cid{
	position: absolute;
	left: 30px;
	top: 20px;
}

.info .cname{
	position: absolute;
	left: 225px;
	top: 20px;
}

.info .sect{
	position: absolute;
	left: 500px;
	top: 20px;
}

.info .prof{
	position: absolute;
	left: 30px;
	top: 50px;
}

.info .start{
	position: absolute;
	left: 250px;
	top: 50px;
}

.info .end{
	position: absolute;
	left: 400px;
	top: 50px;
}

.sessEven a, a:visited{
	color: #2A3F55;
}

.sessEven a:hover{
	color: #464E71;
}

.sessOdd a, a:visited{
	color: #2A3F55;
}

.sessOdd a:hover{
	color: #464E71;
}