{{extend 'layout.html'}}

<h1>New poll</h1>
<p>
    <a href="{{=URL('new')}}">Create a new poll</a>
</p>

<h1>Polls</h1>
<p>
    <ul>
        {{for poll in jsonPolls['polls']:}}
			<a style="display:block" href="{{=poll['id']}}">
				<div class="sessOdd">
					<div class="info">
						<div class="cid"><strong>Course ID: </strong>{{=poll['title']}}</div>
						<div class="cname"><strong>Course Name: </strong></div>
						<div class="sect"><strong>Section: </strong></div>
						<div class="prof"><strong>Instructor: </strong></div>
						<div class="start"><strong>Start: </strong></div>
						<div class="end"><strong>End: </strong></div>
					</div>
				</div>
			</a>
        {{pass}}
	</ul>
</p>
