{{extend 'layout.html'}}

<h2>New Poll</h2>

<form method="post" action="/polls" class="new-poll">

    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />

    <div class="choices">
        <label> 
            <select>
                <option>2</option>
                <option selected="selected">3</option>
                <option>4</option>
                <option>5</option>
            </select>
            choices:
        </label>
        <input type="text" name="choice" />
        <input type="text" name="choice" />
        <input type="text" name="choice" />
    </div>
    
    <button type="submit" class="btn btn-primary"
        data-loading-text="Submiting...">
    Submit
    </button>
</form>
